@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
 }

 .banner{
  background-image: url(../img/close-up-of-roasted-coffee-beans.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .dashboard{
  width: 95%;
  height: 95%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
 }

 .divLateral{
  background-color: #000000;
  padding: 40px 40px;
  color: white;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divLateral .nomeUsuario{
  font-weight: bold;
}

.navegacao ul{
  margin: 10px 0;
  list-style: none;
  
}
.navegacao ul img{
  width: 25px;
}

.navegacao ul li{
  display: flex;
  width: 180px;
  margin: 20px 0;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.navegacao ul li:hover{
  background-color: #60380880;
}

.navegacao ul li p{
  margin-right: 0px;
  margin-left: 30px;
}

header {  
  height: 10%;
  margin: 20px;
  padding: 15px 0;
  border-bottom: 3px solid black;
}

.container_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container_header select {
    padding: 0px 50px;
    cursor: pointer;
}

main {
  width: 80%;
  height: 80%;
  margin: 10px;
}

main .container {
  padding: 5px 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unificacao_grafico {
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center; 
}

/* ESTILIZAÇÃO DA KPIs */


.container .grafico {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.graficoTemp {
  background-color: whitesmoke;
  border-radius: 5px;
  justify-content: flex-end;
}

.graficoUmi {
  background-color: whitesmoke;
  border-radius: 5px;
  
}

.kpi_primaria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.kpi1 {
background: #02C252;
border-radius: 10px;
padding: 10px 5px;
}

.kpi2 {
 background: #ECD400;
 border-radius: 10px;
 padding: 10px 5px;
}

.kpi3 {
 background: #C20202;
 border-radius: 10px;
 padding: 10px 5px;
}

.saida{
  list-style: none;
}

.saida a {
  color: white;
  display: flex;
  width: 180px;
  margin: 10px 0;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.saida li p{
  margin-left: 30px;
}

.saida a:hover{
  background-color: #60380880;
}

.saida img{
  width: 25px;
}

