@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

img{
  display: block;
}
.banner {
    display: flex;
    align-items: center;
    background-image: url(../img/close-up-of-roasted-coffee-beans.png);
    background-size:cover;
    min-height: 100vh;
    padding: 20px 0;
  }

  .banner .container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
  }
  
  .formulario {
    background-color: #ffffff;
    padding: 50px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formulario img{
    width: 75px;
  }

  .formulario h2{
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: 400;
  }

  .campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
 .formulario label {
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;

  } 

  .campo label{
    color: #000000;
    font-size: 20px;
    font-weight: 400; 
  }

  .campo input{
    width: 300px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-bottom: 40px;
    padding: 2px;
  }


   input:focus{
    border-color: #000000;
  }

  .formulario a {
    text-decoration: none;
    color: #848484;
    margin-top: 10px;
    transition: 0.5s;
  }

  .formulario a:hover{
    color: #000000;
  }

  .formulario .entrar {
    margin-top: 40px;
    color: #fff;
    background-color: #583101;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
  }

  .formulario .entrar:hover{
    background: #814c0c;
    color: #fff;
  }

  .formulario .home{
    position: relative;
    top: -45px;
    left: 170px;
    width: 25px;
    cursor: pointer;
  }

  



 


 