.nossa-empresa .container{
  display: flex;
  justify-content: center;
  margin-top: 100px; 
}

.nossa-empresa img{
  width: 468px;
}

.nossa-empresa .texto{
  border-left: 6px solid#583101;
  padding: 60px 40px;
}

.nossa-empresa .texto h1{
  margin-bottom: 50px;
  color: #583101;
  font-weight: bold;
}

.nossa-empresa .texto p{
  max-width: 550px;
}

/* Banner */
.banner{
  background-image: url(../images/cafe-xicara.png);
  background-size: cover;
  width: 100%;
  height: 150px;
  margin-top: 100px;
}

/* Valores */

 .valores .container{
  justify-content: center;
  flex-direction: column;
}

.valores h1{
  font-size: 4rem;
  color: #583101;
  margin-top: 50px;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  max-width: 1000px;
}

.cards-caixa{
  display: flex;
  align-items: center;
  background-color: #FEFAE0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px 5px;
  padding: 25px 25px;
}  

.cards-caixa-texto p{
  max-width: 300px;
}

.cards-caixa:nth-child(1){
  margin-right: 50px;
  margin-bottom: 50px;
}

.cards-caixa:nth-child(2){
  margin-bottom: 50px;
}

.cards-caixa:nth-child(3){
  margin-right: 50px;
}

.cards-caixa img{
  max-width: 110px;
  margin-bottom: 80px;
}

.cards-caixa:nth-child(3) img{
  max-width: 100px;
}

.cards-caixa:nth-child(4) img{
  max-width: 100px;
}

.cards-caixa-texto h2{
  color: #583101;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.cards-caixa-texto p{
  margin-bottom: 60px;
}

/* Footer */
footer img{
  width: auto;
}

footer{
  margin-top: 100px;
}