@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');


   /* Header */
   
   .header{
     background-color: #F3D5B5;
   }
   
   .navegacao{
     display: flex;
     justify-content: space-between;
     align-items: center;
   
   }
   
   .navegacao ul{
     display: flex;
     align-items: center;
   }
   
   .navegacao ul li{
     list-style: none;
     margin-right: 30px;
     text-decoration: none;
   }
   
   .navegacao ul li a{
     text-decoration: none;
     margin-right: 0px;
     color: #000000;
     transition: 0.5s;
   }
   
   .navegacao ul li a:hover{
     color: #603808;
   }
   
   .navegacao a{
     display: block;
     margin-right: 30px;
   }
   
   .botaoClaro{
     padding: 10px 20px;
     color: #583101;
     text-decoration: none;
     background: #F3D5B5;
     border: 1px solid #583101;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
     transition: 0.5s;
   }
   
   .botaoClaro:hover{
     background: #f1dcc6;
     box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
   }
   
   .botaoEscuro{
     padding: 10px 20px;
     text-decoration: none;
     color: #000000;
     background: #603808;
     border: 1px solid #603808;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
     transition: 0.5s;
   }
   
   .botaoEscuro:hover{
     background: #814c0c;
     box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
   }
   
   main img{
     width: 100%;
   } 


