.container-forms{
    display: flex;
    justify-content: center;
}

.forms-contato{
    width: 500px;
    background-color: #ffff;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-contato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms-contato h2{
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: 400;
  }


  button{
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 35px;
    text-decoration: none;
    color: #ffffff;
    background-color: #603808;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
  }

  button:hover{
    cursor: pointer;
    background: #814c0c;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }