@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
 }

a{
  text-decoration: none;
  color: white;
}
 .banner{
  background-image: url(../images/close-up-of-roasted-coffee-beans.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 95%;
  height: 95%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
}

/* Painel da esquerda */

.divLateral {
  background-color: #130a00;
  padding: 40px 40px;
  color: white;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divLateral .nomeUsuario {
  font-weight: bold;
}

.navegacao ul {
  margin: 10px 0;
  list-style: none;

}

.navegacao ul img {
  width: 25px;
}

.navegacao ul li {
  display: flex;
  width: 180px;
  margin: 20px 0;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.navegacao ul li:hover {
  background-color: #60380880;
}

.navegacao ul li p {
  margin-right: 0px;
  margin-left: 30px;
}

.saida {
  list-style: none;
}

.saida a {
  color: white;
  display: flex;
  width: 180px;
  margin: 10px 0;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.saida li p {
  margin-left: 30px;
}

.saida a:hover {
  background-color: #60380880;
}

.saida img {
  width: 25px;
}

/* Dashboard geral */
.unificacao_grafico {
  display: flex;
  flex-direction: column;
}

/* Cabeçalho Dashboard */
header {
  height: 10%;
  margin: 10px;
  padding: 15px 0;
}

.linha{
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.container_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.container_header select {
  padding: 0px 50px;
  cursor: pointer;
}

.titulo{
  font-weight: 700;
  font-size: 1.5rem;
}

.select{
  display: flex;
  gap: 20px; 
}

.selectAno label{
  display: block;
}

/* Gráfico Dashboard */
main {
  width: 100%;
  height: 36%;
  margin: 5px;
}

main .container {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: start;
}

span main {
  width: 26%;
  height: 25%;
  margin: 20px;
  padding-left: 34px;
}

.graficoTemp {
  background-color: ghostwhite;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 2px;
}

.graficoUmi {
  background-color: ghostwhite;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.graficoVari {
  background-color: ghostwhite;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

.legendaTemp{
  background-color: ghostwhite;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 2px;
  width: 37vw;
  text-align: center;
}

.legendaTemp h3{
  margin-top: 10px;
}

.legendaTempTexto{
  margin-top: 20px;
  margin-left: 15px;
}

.legendaTempTexto div{
  display: flex;
  gap: 10px;
  align-items: center;
}

.legendaUmid{
  background-color: ghostwhite;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 2px;
  width: 36vw;
  align-items: center;
  text-align: center;
}

.legendaUmid h3{
  margin-top: 10px;
}

.legendaUmidTexto{
  margin-top: 20px;
  margin-left: 15px;
}


.legendaUmidTexto div{
  display: flex;
  gap: 10px;
  align-items: center;
}

.verde{
  display: block;
  width: 20px;
  height: 15px;
  background-color: #02C252;
}

.amarelo{
  display: block;
  width: 20px;
  height: 15px;
  background-color: #ECD400;
}

.vermelho{
  display: block;
  width: 20px;
  height: 15px;
  background-color: #C20202;
}

.laranja{
  display: block;
  width: 20px;
  height: 15px;
  background-color: #ec8e00;
}
/* Estilização das KPIs */
.kpi_primaria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.kpi_secundaria{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.kpi{
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 0;
}

.kpiTexto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.kpiTexto span{
  font-size: 2rem;
}

.kpi img{
  width: 20px;

}


.kpi p{
  display: block;
  font-size: 0.6125rem;
  color: rgba(0, 0, 0, 0.6);

}

.kpi_primaria .kpi1, .kpi_primaria .kpi2, .kpi_primaria .kpi3{
  background: #02C252;
}



.kpi_secundaria .kpi1 {  
  background: #02C252;
  
}


.kpi_secundaria .kpi2{
  background: #ECD400;
}
.kpi_secundaria .kpi3 {
 background: #C20202;
}