@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Inder', sans-serif;
 scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  /* Header */
  .header{
    background-color: #F3D5B5;
  }
  
 .navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .navegacao ul{
    display: flex;
    align-items: center;
  }
  
  .navegacao ul li{
    list-style: none;
    margin-right: 30px;
    text-decoration: none;
  }
  
  .navegacao ul li a{
    text-decoration: none;
    margin-right: 0px;
    color: #000;
    transition: 0.5s;
  }
  
  .navegacao ul li a:hover{
    color: #603808;
  }
  
  .navegacao a{
    display: block;
    margin-right: 30px;
  }
  
  .botaoClaro{
    padding: 10px 20px;
    color: #583101;
    text-decoration: none;
    background: #F3D5B5;
    border: 1px solid #583101;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .botaoClaro:hover{
    background: #f1dcc6;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }
  
  .botaoEscuro{
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    background: #603808;
    border: 1px solid #603808;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .botaoEscuro:hover{
    background: #814c0c;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }

  main img {
    width: 100%;
  }

/* Footer */
  footer img{
    width: auto;
  }
  
  footer{
    margin-top: 200px;
    background-color: #D4A276;
    padding: 20px;
  }
  
  .navegacao-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
  }
  
  .navegacao-footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 65px 0;
  }
  
  .navegacao-footer ul li{
    margin-right: 30px;
  }
  
  .navegacao-footer ul li a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
  }
  
  .navegacao-footer ul li a:hover{
    color: #603808;
  }
  
  .redes-footer img:nth-child(1){
    margin-right: 20px; 
  } 

  .redes-footer img{
    cursor: pointer;
  } 
  
  /* Estilos Script */
  .vermelho{
    color: red;
  }

  .verde{
    color: green;
  }

  .bPerdaDeCafe{
    cursor: pointer;
  }
  
  .bPerdaDeCafe:hover{
      color: #282828;
  }

  /* login alertas */

  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

  /* botão fixo para helpdesk
  .fab-helpdesk{
    position: fixed;
    bottom:10px;
    right:20px;
  }

  .button-helpdesk img{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
  }

  #boxHelpdesk{
    position: fixed;
    bottom:20px;
    right:5em;
  } */

  .fab{
    position: fixed;
    bottom:10px;
    right:10px;
  }
  
  .fab button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color:  #8b5e34;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color:  #603808;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
   


  .fab button.main:before{
    content: '⌃';
  }
  
  .fab ul{
    position:absolute;
    bottom: 0;
    right: 0;
    padding:0;
    padding-right:5px;
    margin:0;
    list-style:none;
    z-index:10;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab ul li{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;
    
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  
  .fab ul li label{
    margin-right:10px;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 6px 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius:3px;
    height: 25px;
    font-size: 16px;
    pointer-events: none;
    opacity:0;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button.main:active,
  .fab button.main:focus{
    outline: none;
    background-color: #603808;
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
   }
   
  .fab button.main:active:before,
  .fab button.main:focus:before{
    content: '⌄';
  }
  
  .fab button.main:active + ul,
  .fab button.main:focus + ul{
    bottom: 70px;
  }
  
  .fab button.main:active + ul li,
  .fab button.main:focus + ul li{
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .fab button.main:active + ul li:hover label,
  .fab button.main:focus + ul li:hover label{
    opacity: 1;
  }

  .opcao1 img{
    width: 30px;
    height: 30px;
    color: #fff;
    
  }

  .opcao2 img{
    width: 30px;
    height: 30px;
  }